{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": ["jsx-event-modifiers", "jsx-v-model", "transform-vue-jsx"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2", "es2015"],
      "plugins": [ "istanbul" ]
    }
  }
}
