<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpdms.mapper.examination.BaseExaminationItemMapper">
  <resultMap id="BaseResultMap" type="com.cpdms.model.examination.BaseExaminationItem">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_desc" jdbcType="VARCHAR" property="itemDesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
<sql id="Base_Column_List">
	  	  	      	id,
       	  	      	item_name,
       	  	    	  	item_desc
       	</sql>
  <select id="selectByExample" parameterType="com.cpdms.model.examination.BaseExaminationItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from base_examination_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from base_examination_item
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from base_examination_item
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cpdms.model.examination.BaseExaminationItemExample">
    delete from base_examination_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="com.cpdms.model.examination.BaseExaminationItem">
    insert into base_examination_item (
      	  	       id,
       	  	       item_name,
       	  	    	  item_desc
       	    )
    values (
	  	  	      	#{id,jdbcType=VARCHAR},
       	  	      	#{itemName,jdbcType=VARCHAR},
       	  	    	  #{itemDesc,jdbcType=VARCHAR}
       	    )
  </insert>

  <insert id="insertSelective" parameterType="com.cpdms.model.examination.BaseExaminationItem">
    insert into base_examination_item
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="id != null">
        id,
      </if>


      <if test="itemName != null">
        item_name,
      </if>


      <if test="itemDesc != null">
        item_desc,
      </if>

         </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
          <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
          <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
          <if test="itemDesc != null">
        #{itemDesc,jdbcType=VARCHAR},
      </if>
        </trim>
  </insert>

  <select id="countByExample" parameterType="com.cpdms.model.examination.BaseExaminationItemExample" resultType="java.lang.Long">
    select count(*) from base_examination_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update base_examination_item
    <set>
          <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
          <if test="record.itemName != null">
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
          <if test="record.itemDesc != null">
        item_desc = #{record.itemDesc,jdbcType=VARCHAR},
      </if>

    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>


  <update id="updateByExample" parameterType="map">
    update base_examination_item
    set
            	     	 id = #{record.id,jdbcType=VARCHAR},
    	         	     	 item_name = #{record.itemName,jdbcType=VARCHAR},
    	         	     	 item_desc = #{record.itemDesc,jdbcType=VARCHAR}
    	         <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>


      <update id="updateByPrimaryKeySelective" parameterType="com.cpdms.model.examination.BaseExaminationItem">
    update base_examination_item
    <set>
                          <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
                      <if test="itemDesc != null">
        item_desc = #{itemDesc,jdbcType=VARCHAR},
      </if>
              </set>
    where
            id = #{id,jdbcType=VARCHAR}

  </update>



  <update id="updateByPrimaryKey" parameterType="com.cpdms.model.examination.BaseExaminationItem">
    update base_examination_item
    set
             	        	    	 			item_name = #{itemName,jdbcType=VARCHAR},
		     	        	    	 			item_desc = #{itemDesc,jdbcType=VARCHAR}
		     	        where
            id = #{id,jdbcType=VARCHAR}

  </update>


</mapper>
